body {
    background-color: #8c8989;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.contenedor {
    display: flex;
    min-height: 100vh;
    max-width: 900px;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden; 
}

.columna-izquierda {
    width: 35%; 
}

.columna-derecha {
    width: 65%;
}

.foto-perfil {
    width: 150px;
    height: 180px;
    border-radius: 100%;
    margin-top: 30px;
    object-fit: cover;
    border: 5px solid #0c0c0d;
}

.informacion-personal {
    margin-top: 20px;
    padding: 10px;
    font-size: 10px;
    color: white;
    font-family: "Changa One", sans-serif;
}


#correo{
    font-size: 10px;
}

#direccion{
    font-size: 9px;
}

.referencias {
    margin-top: 20px;
    padding: 10px;
    font-size: 10px;
    color: white;
    font-family: "Changa One", sans-serif;
}


.referencias ul {
    list-style-position: inside;
    padding-left: 0;
    margin: 0;
}

.redes-sociales {
    margin-top: 20px;
    padding: 10px;
    font-size: 10px;
    color: white;
    font-family: "Changa One", sans-serif;
}

.titulares {
    color: rgb(0, 0, 0);
    font-family: "Changa One", sans-serif;
}

.sobre_mi {
    margin-top: 0px;
    padding: 10px;
    font-size: 12px;
    color: rgb(0, 0, 0);
    font-family: "Changa One", sans-serif;
}

#descripcion {
    font-size: 10px;
    color: rgb(0, 0, 0);
    font-family: "Changa One", sans-serif;
}

.experiencia {
    margin-top: -10px;
    padding: 10px;
    font-size: 10px;
    color: rgb(0, 0, 0);
    font-family: "Changa One", sans-serif;
}

.educacion {
    margin-top: 10px;
    padding: 10px;
    font-size: 10px;
    color: rgb(0, 0, 0);
    font-family: "Changa One", sans-serif;
}

#bachillerato, #universidad {
    font-size: 10px;
}

.columna-inferior {
    display: flex;
    gap: 30px;
}

.habilidades {
    margin-top: 10px;
    padding: 10px;
    font-size: 10px;
    color: black;
    font-family: "Changa One", sans-serif;
}

.lista_habilidades {
    font-size: 13px;
}
.titulo_contacto {
border-bottom: 2px solid #fbfafa;
    padding-bottom: 5px;
}
    
.titulo_certificaciones {
    border-bottom: 2px solid #fbfafa;
    padding-bottom: 5px;
}
    
.titulo_redes {
    border-bottom: 2px solid #fbfafa;
    padding-bottom: 5px;
}
    
.titulo_sobre_mi {
    border-bottom: 2px solid #000000;
    padding-bottom: 5px;
}
    
.titulo_experiencia {
    border-bottom: 2px solid #000000;
    padding-bottom: 5px;
}
    
.titulo_educacion {
    border-bottom: 2px solid #000000;
    padding-bottom: 5px;
}
    
.titulo_habilidades {
    border-bottom: 2px solid #000000;
    padding-bottom: 5px;
}

.educacion, .habilidades {
    flex: 1;
}